form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

input {
  margin: 20px 10px;
  width: 90%;
  border: 0;
  font-size: 18px;
  padding: 5px;
  box-shadow: 5px 5px 0 #e94057;
}

button {
  border: 0;
  padding: 10px;
  font-size: 18px;
  margin: 0 5px;
}
