html,
body,
main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #2f3542;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  max-width: 920px;
  margin: 0 auto;
  color: white;
}

li {
  list-style: none;
}

a {
  color: orange;
}